/* .container {
  display: flex;
  gap: 20px;
  text-align: center;
  background-image: url("./assets/bg.png");
  background-size: cover;
}
.box-stories-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.stories {
  padding: 30px;
  width: 1280px;
  height: 750px;
  background: linear-gradient(0deg, #ffffff 0%, #fff5e8 100%);
  background-size: cover;
  margin-bottom: 160px;
}

.stories h2 {
  font-size: 46px;
  text-align: center;
}

.box-stories-2 h2 {
  margin-bottom: 90px;
}

.stories img {
  width: 100%;
  margin-bottom: -30px;
  border-radius: 10px;
}

.stories-btn,
#view-btn {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 15px;
  color: #ffffff;
  background-color: #95b226;
  border: none;
  margin-bottom: 0px;
}

#view-btn {
  margin-top: 50px;
  margin-left: 600px;
  background-color: black;
}

#box-a button {
  background-color: #3cd8e8;
}

#box-c button {
  background-color: #5d58f0;
} */

/* @media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box-stories-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #view-btn {
    margin-left: 550px;
    background-color: black;
  }

  .box-stories-1 {
    display: none;
  }
} */


@media screen and (max-width: 576px) {
    .stories {
      padding: 20px; 
      width: auto; 
      height: auto; 
      margin-bottom: 80px; 
    }
  
    .container {
      flex-direction: column;
      align-items: center;
    }
  

    .box-stories-2 {
      display: grid;
      grid-template-columns: repeat(2,1fr); 
      gap: 15px; 
    }
  
    .box-storie {
      text-align: center; 
    }
  
    .stories img {
      width: 100%; 
      margin-bottom: 15px; 
    }
  
    #view-btn {
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 30px; 
    }

    .box-stories-1 {
        display: none;
      }
  }
