@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    /* background-color: rgb(243, 241, 238); */
    padding: 20px 0px;
    margin-bottom: 10px;
}

nav img{
    width: 100%;
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-primary{
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FEA301;
    border: none;
}

nav ul{
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-weight: 600;
    list-style-type: none;
}

#home{
    color: #FEA301;
}
#abt{
    color: #01ACFD;
}
#fclt{
    color: #05d4df;
}
#admsn{
    color: #5D58EF;
}

.banner{
    display: flex;
    align-items: center;
    padding: 20px 120px;
    justify-content: space-between;
}
.banner-1 h3{
    font-size: 56px;
    margin-bottom: 20px;
}
.banner-1 p{
    font-size: 20px;
    margin: 24px 0;
    color: black;
}
.banner img{
    width: 100%;
}
.banner button{
    background-color: black;
}
#Empowering{
    color: #FEA301;
}
#towards{
    color: #01ACFD;
}


.curriculum{
    padding: 20px 160px;
    text-align: center;
    background-image: url("./assets/bg.png");
}
.curriculum h2{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 46px;
}
.box h5{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box p{
    font-size: 15px;
}

.boxes{
    display: flex;
    /* justify-content: space-around; */
    text-align: center;
    gap: 28px;
}

#rd-1,#rd-2,#rd-3{
  margin-top: 35px; 
  font-size: 15px;
  font-weight: 600; 
}
#rd-1{
   color: #64c8ff; ; 
}
#rd-2{
    color:#F0AA00;
}
#rd-3{
    color:#8700FF ;
}


.box{
    padding: 42px 27px;
    border-radius: 10px;
}

#box-1{
   background: linear-gradient(to bottom, #DEF5FF, #ffffff);
}
#box-2{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
#box-3{
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}

.next-bar{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 5px;
    margin-bottom: 60px;
    margin-top: 30px;
}

#next-bar-1,#next-bar-2{
    background-color:#FEA301;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    padding: 150px 50px;
    background-image: url("./assets/bg.png");
    margin: 0px 70px; 
    /* background: linear-gradient(0deg, #FEA301 0%, #FFFFFF 100%); */
}

.stories{
    width: 1327px;
    height: 750px;
    background: linear-gradient(0deg, #FFFFFF 0%, #FFF5E8 100%);
    background-size: cover;  
    margin-bottom: 160px;
}

.stories h2{
    padding-top: 60px;
    padding-bottom: 0px;
    font-size: 46px;
    text-align: center;
}

.stories img{
    background-color: gray;
    width: 100%;
    margin-bottom: -30px;
}

.stories-btn{
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #95B226;
    border: none;
    margin-bottom: 10px;
}

#box-a button{
    background-color: #3CD8E8;
}

#box-c button{
    background-color: #5D58F0;
}

#view-btn{
    padding: 20px 35px;
    border-radius: 20px;
    width: 150px;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 450px;
    background-color: black;
    border: none;
}

.box-stories{
    margin-bottom: 20px;
}

#box-a{
    grid-row: span 2;
}

#box-a img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

#box-a h4{
    margin: 20px 0;
}

#box-b img,#box-c img,#box-d img,#box-e img{
    width: 291px;
    height: 180px;
    border-radius: 10px;
}

#box-d, #box-e{
    padding-top: 10px;
}



footer{
    /* display: flex;
    justify-content: space-around; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    padding-top: 40px;
    padding-left: 50px;
    background-color: #01ACFD;
    height: 50vh;
}

.footer-1-1{
    display: flex;
    margin-bottom: 20px;
}

footer h3{
    font-size: 25px;
    margin-bottom: 10px;
}
footer h3,p{
    color: #FFFFFF;
}

.foot-list{
    display: flex;
    list-style: none;
    gap: 15px;
}

.foot-3 img{
    margin-top: 15px;
    margin-left: 10px;
}


.hide{
    display: none;
}
.menu-bar{
    display: none;
}

.hr-tag hr {
    border-top: 1px solid yellow;
    display: none;
}


@media screen and (max-width: 576px){
    nav img{
        width: 45px;
        padding-left: 0px;
    }
    .menu-bar{
        display: block; 
    }
    .hr-tag hr{
        display: block;
        margin-bottom: 5px;
    }
    marquee{
        margin-top: 10px;
    }
    .banner
    {
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center;
        padding: 20px;
    }
    .btn-primary{
        padding: 12px 26px;
        border-radius: 20px;
        font-size: 12px;
    }
    .banner-1 h3{
        font-size: 20px;
    }
    .banner p{
        font-size: 13px;
        margin: 7px 0;
        color: black;
    }
    .banner img{
        width: 100%;
    }

    .boxes{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .box{
        width: 300px;
        border-radius: 10px;
    }
    .box h5{
        font-size: 20px;
    }
    .box p{
        font-size: 15px;
        color: black;
    }

    .curriculum h2{
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .next-bar{
        font-size: 18px;
        gap: 2px;
        margin-bottom: 30px;
    }
    #next-bar-1,#next-bar-2{
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .container
    {
        grid-template-columns: repeat(1,1fr);
    }

    .box-stories{
        text-align: center;
        align-content: center;
    }

    footer
    {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 20px;
        height: 350px;
    }

    footer h3{
        font-size: 22px;
    }

    footer p{
        font-size: 14px;
    }

    .foot-2 ul li{
        color: white;
        font-size: 14px;
    }

    .footer-1-1{
        justify-content: center;
    }

    .foot-2{
        margin: 30px;
    }

    nav h4, #box-a, nav ul, nav .btn-primary{
        display: none;
    }
}
