@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: rgb(243, 241, 238);
    padding: 20px 0px;
}

nav img{
    width: 100%;
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-primary{
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FEA301;
    border: none;
}

nav ul{
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-weight: 600;
    list-style-type: none;
}

#home{
    color: #FEA301;
}
#abt{
    color: #01ACFD;
}
#fclt{
    color: #05d4df;
}
#admsn{
    color: #5D58EF;
}

.banner{
    display: flex;
    align-items: center;
    padding: 20px 120px;
    justify-content: space-between;
}

.banner-1 h3{
    font-size: 56px;
}

.banner-1 p{
    font-size: 20px;
    margin: 24px 0;
}

.banner img{
    width: 100%;
}

.banner button{
    background-color: black;
}

#Empowering{
    color: #FEA301;
}

#towards{
    color: #01ACFD;
}

.curriculum{
    padding: 20px 160px;
    text-align: center;
    background-image: url("./assets/bg.png");
}

.curriculum h2{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 46px;
}

.box h5{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box p{
    font-size: 15px;
}

.boxes{
    display: flex;
    /* justify-content: space-around; */
    text-align: center;
    gap: 28px;
}

#rd-1,#rd-2,#rd-3{
  margin-top: 35px; 
  font-size: 15px;
  font-weight: 600; 
}
#rd-1{
   color: #64c8ff; ; 
}
#rd-2{
    color:#F0AA00;
}
#rd-3{
    color:#8700FF ;
}


.box{
    padding: 42px 27px;
    border-radius: 10px;
}

#box-1{
   background: linear-gradient(to bottom, #DEF5FF, #ffffff);
}
#box-2{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
#box-3{
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}

.next-bar{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 5px;
    margin-bottom: 60px;
    margin-top: 30px;
}

#next-bar-1,#next-bar-2{
    background-color:#FEA301;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    text-align: center;
    padding: 10px ;
    margin: 10px 100px;
    background-color: #5D58EF;
    background-image: url("./assets/bg.png");
}

.stories img{
    background-color: gray;
    width: 100%;
    margin-bottom: -30px;
}

.stories button{
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #FEA301;
    border: none;
    margin-bottom: 10px;
}

.box-stories{
    margin-bottom: 20px;
}

#box-a{
    grid-row: span 2;
}

#box-a img{
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

#box-a h4{
    margin: 20px 0;
}

#box-b img,#box-c img,#box-d img,#box-e img{
    width: 291px;
    height: 180px;
    border-radius: 10px;
}

#box-d, #box-e{
    padding-top: -10px;
}


.hide{
    display: none;
}



